<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEmployee</servlet-name>
  	<display-name>AddEmployee</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEmpCtl</servlet-name>
  	<display-name>DeleteEmpCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.DeleteEmpCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmpCtl</servlet-name>
  	<display-name>ViewEmpCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.ViewEmpCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditEmpCtl</servlet-name>
  	<display-name>EditEmpCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.EditEmpCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddRoleCtl</servlet-name>
  	<display-name>AddRoleCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddRoleCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSalaryCtl</servlet-name>
  	<display-name>AddSalaryCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddSalaryCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTimesheetCtl</servlet-name>
  	<display-name>AddTimesheetCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddTimesheetCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddLeaveCtl</servlet-name>
  	<display-name>AddLeaveCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddLeaveCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSalaryCtl</servlet-name>
  	<display-name>ViewSalaryCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.ViewSalaryCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditSalaryCtl</servlet-name>
  	<display-name>EditSalaryCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.EditSalaryCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewLeaveCTL</servlet-name>
  	<display-name>ViewLeaveCTL</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.ViewLeaveCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewTimeSheetCtl</servlet-name>
  	<display-name>ViewTimeSheetCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.ViewTimeSheetCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditSalary</servlet-name>
  	<display-name>EditSalary</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.EditSalary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditLeave</servlet-name>
  	<display-name>EditLeave</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.EditLeave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditTimesheet</servlet-name>
  	<display-name>EditTimesheet</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.EditTimesheet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAdminCtl</servlet-name>
  	<display-name>AddAdminCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddAdminCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add_DepartmentCtl</servlet-name>
  	<display-name>Add_DepartmentCtl</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.Add_DepartmentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentList</servlet-name>
  	<display-name>DepartmentList</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.DepartmentList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dept_Emp</servlet-name>
  	<display-name>Dept_Emp</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.Dept_Emp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProject</servlet-name>
  	<display-name>AddProject</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.AddProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProjectList</servlet-name>
  	<display-name>ProjectList</display-name>
  	<description></description>
  	<servlet-class>ems.erp.controller.ProjectList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployee</servlet-name>
  	<url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmpCtl</servlet-name>
  	<url-pattern>/DeleteEmpCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmpCtl</servlet-name>
  	<url-pattern>/ViewEmpCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditEmpCtl</servlet-name>
  	<url-pattern>/EditEmpCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddRoleCtl</servlet-name>
  	<url-pattern>/AddRoleCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSalaryCtl</servlet-name>
  	<url-pattern>/AddSalaryCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTimesheetCtl</servlet-name>
  	<url-pattern>/AddTimesheetCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddLeaveCtl</servlet-name>
  	<url-pattern>/AddLeaveCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSalaryCtl</servlet-name>
  	<url-pattern>/ViewSalaryCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditSalaryCtl</servlet-name>
  	<url-pattern>/EditSalaryCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewLeaveCTL</servlet-name>
  	<url-pattern>/ViewLeaveCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTimeSheetCtl</servlet-name>
  	<url-pattern>/ViewTimeSheetCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditSalary</servlet-name>
  	<url-pattern>/EditSalary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditLeave</servlet-name>
  	<url-pattern>/EditLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditTimesheet</servlet-name>
  	<url-pattern>/EditTimesheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAdminCtl</servlet-name>
  	<url-pattern>/AddAdminCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Add_DepartmentCtl</servlet-name>
  	<url-pattern>/Add_DepartmentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentList</servlet-name>
  	<url-pattern>/DepartmentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dept_Emp</servlet-name>
  	<url-pattern>/Dept_Emp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProject</servlet-name>
  	<url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProjectList</servlet-name>
  	<url-pattern>/ProjectList</url-pattern>
  </servlet-mapping>
</web-app>
